<section class="page-home">
    <h1 class="animated fadeInDown">Record<span>Box</span></h1>
    <section class="page-home-register animated fadeIn">
        <login-room></login-room>

        <div class="hr-label">
            <span class="hr-label__text">or</span>
            <div class="hr-label__line">&nbsp;</div>
        </div>

        <register-room></register-room>
    </section>
</section>