@import '../../constants';

.page-home {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 100px;
}

.page-home > h1 {
  font-family: $headingFont;
  font-size: 72px;
  color: $primaryGray;
  text-align: center;
}

.page-home > h1 span {
  color: $secundaryGray;
}

.hr-label {
  margin-bottom: 5px;
  font-family: $paragraphFont;
  @include box-sizing(border-box);
  text-align: center;
}

.hr-label__line {
  float: left;
  height: 12px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.2);
  margin-top: -12px;
  @include box-sizing(border-box);
}

.hr-label__text {
  font-size: 13px;
  padding: 0 8px;
  line-height: 24px;
  background-color: white;
}

.page-home-register {
  background-color: white;
  border: 1px solid $lightGrayHighlight;
  padding: 25px;
  @include box-sizing(border-box);
}

.page-home-register label, .page-home-register input, .page-home-register button {
  display: block;
  font-family: $paragraphFont;
  font-size:20px;
  width: 100%;
  @include box-sizing(border-box);
  padding: 10px 0;
  margin-bottom: 10px;
}

.label-register {
  color: $primaryGray;
}

.page-home-register .input-register {
  padding-left: 5px;
}

.page-home-register .button-register {
  background-color: $primaryGray;
  color: $white;
  text-transform: uppercase;
  border: 0;
  margin: 20px 0;
  cursor: pointer;
  @include transition(background-color 0.2s);
  &:hover {
    background-color: $secundaryGray;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.page-home-register .browse-rooms {
  position: relative;
  display: none;
}

#toggle{
  display: block;
}

.button-register:hover #toggle{
  display: block;
}

.page-home-register .browse-rooms div {
  z-index: 9;
  position: absolute;
  margin-left:-46px;
  width: 400px;
  height: 350px;
  overflow: auto;
  background-color: $white;
  border: 1px solid $lightGrayHighlight;
  padding: 25px;
  @include box-sizing(border-box);
  color: $primaryGray;
}

.page-home-register .browse-rooms div ul li a {
  text-decoration: none;
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid $primaryGray;
  color: $primaryGray;
  @include transition(margin-left 0.2s);
  cursor: pointer;
}

.page-home-register .browse-rooms div ul li a:hover {
  color: $black;
  margin-left: 2px;
}

.page-home-register .browse-rooms div ul li:first-child a {
  padding-top: 0;
}

.page-home-register .browse-rooms div ul li:last-child a {
  padding-bottom: 0;
  border: 0;
}

@media only screen and (max-width: 375px) {
  .page-home{
    padding-top:20px;
  }
}