@import '../../_constants';

.clickable-li{
  cursor: pointer;
}

.search-result {
  .thumbnail {
    margin-right: 10px;
    min-height: 0;
    flex:0 0 60px;
    height: 45px;
  }
  transition: 0.3s;

  &:hover{
    color:$secundaryGray
  }
  span {
    font-size: 14px;
    align-self: center;
    flex: 1 1 auto;
  }

  i{
    align-self: center;
    flex:0;

  }

}

.search-results{
  margin-top: 10px;
  p{
    margin:5px 0;
  }
}

input {
  min-width: 0;
}