<div class="playlist-section">
    <h1>Add tracks by URL:</h1>
    <div>
        <form action="" class="action-flex">
            <input placeholder="YouTube URL" class="action-input" type="text" [(ngModel)]="trackUrl" name="trackId" autocomplete="off">
            <button class="action-button btn-add-url" (click)="addNewTrackByUrl(trackUrl)" [disabled]="btnDisabled"><i class="fa fa-plus-circle"></i> <span>Add</span></button><br/>
        </form>
    </div>
      <h1>Add via YouTube Search:</h1>
    <div>
        <form action="" class="action-flex last-item">
            <input placeholder="Zara Larsson" class="action-input" type="text" [(ngModel)]="searchQuery" name="searchQuery">
            <button class="action-button btn-search-youtube" (click)="searchTracks()"><i class="fa fa-search"></i> <span>Search</span></button>
        </form>
    </div>
    <div class="search-results">
        <p [hidden]="searchResults == null || searchResults.length==0">Search results:</p>
        <ul>
            <li class="clickable-li search-result animated fadeIn" (click)="addNewTrackById(searchResult.youtubeId)" *ngFor="let searchResult of searchResults">
                <img [src]="searchResult.thumbnailUrl" class="thumbnail">
                <span>{{searchResult.title}}</span><i class="fa fa-plus-circle" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

</div>