@import '../../_constants';

.left {
  flex: 1 1 0;
}
.middle {
  flex: 2 1 0;
}
.right {
  flex: 1 1 0;

}

.page-room {
  height: 100%;
  padding: 20px;
  @include box-sizing(border-box);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  color: white;
}

.bg-wrapper{
  background-color: $darkGray;
  min-height: 100vh;
}

.page-room section header {
  font-size: 120%;
}

.page-room section article {
  padding-right: 20px;
  @include box-sizing(border-box);

  margin: 20px 0;
}

.page-room section.right article {
  padding-right: 0;
}

.auto-resizable-iframe {
  max-width: 100%;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 60%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.comment-section {
  padding: 15px;
  @include box-sizing(border-box);

  margin-top:20px;
  background-color: $lightGray;
  width: 100%;
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.comment-section-message {
  padding: 15px;
  @include box-sizing(border-box);

  margin: 0;
  background-color: $lightGray;
  width: 100%;
  height: auto;
}

.comment-user {
  display: block;
  margin-top: 4px;
}

.comment-user div {
  margin: 1px 0;

  &.own-message {
    text-align: right;
  }
}

.comment-user:first-child {
  margin-top: 0;
}

.comment-user span {
  display: inline-block;
  width: auto;
  background-color: $primaryGray;
  padding:8px 8px;
  @include box-sizing(border-box);

  border-radius: 15px;
  font-size: 12px;

  &.own-message {
    background-color: $secundaryGray;
  }
}

.send-message {
  display: flex;
}

.send-message input {
  width:100%;
  @include box-sizing(border-box);
  padding: 8px 10px;
  border:1px solid $primaryGray;
  font-family: $paragraphFont;
  font-size:80%;
  line-height: 0; // fix: Edge adding extra line when sending msg
}

.send-message button {
  background-color: $primaryGray;
  color:white;
  text-transform: uppercase;
  border:0;
  padding: 10px 15px;
  @include box-sizing(border-box);
  @include transition(background-color 0.3s);
  font-weight:bold;
  cursor: pointer;
  white-space: nowrap;

  &:hover{
    background-color: $secundaryGray;
  }

  span {
    margin-left: 7px;
  }
}

.playlist-section {
  background-color: $lightGray;
  padding:20px;
  @include box-sizing(border-box);
  color: $primaryGray;
  margin:0;
}
.playlist-section ul li:first-child {
  padding-top:0;
}

.playlist-section ul li {
  display: flex;
  justify-content: space-between;
  font-size:120%;
  padding: 15px 0;
  @include box-sizing(border-box);

  border-bottom: 1px solid $primaryGray;
}
.playlist-section ul li:last-child {
  padding-bottom: 0;
  border:0;

}
.playlist-section ul li .fa-ban {
  color: $darkRed;
}

.playlist-section ul li .fa-play {
  color: $darkGreen;
}

article .comment-section-message .send-message button span .fa .fa-paper-plane {
  margin: 0 5px;
}

.voteScreen {
  position: fixed;
  top:0;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.voteScreen>div{
  background-color: white;
  padding: 10px;
  @include box-sizing(border-box);
  max-width: 400px;
  margin: 0 auto;
  align-self: center;
  position: absolute;
  top:20%;
}

.voteScreen > div span{
  display: block;
  margin-top: 10px;
}

.voteScreen button{
  border:0;
  background-color: $primaryGray;
  color:white;
  font-family: $paragraphFont;
  text-transform: uppercase;
  padding:5px;
  @include box-sizing(border-box);
  margin: 10px;
  margin-bottom: 0;
  cursor: pointer;
  @include transition(background-color 0.3s);
}

.voteScreen button:hover{
  background-color: $secundaryGray;
}

.blur {
  @include filter(blur(3px));
  @include transition(-webkit-filter 0.5s linear);
}

div.loader {
  position: static;
  margin: 10px auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .page-room{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .left{
    order:1;
    flex:1 1 50%;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .middle{
    order:3
  }
  .right{
    padding-left: 10px;
    box-sizing: border-box;
    order:2;
    flex:1 1 50%;

  }

  .page-room section article{
    padding-right:0;
  }
}

@media only screen and (max-width: 570px) {
  .page-room {
    padding:0;
  }
  .page-room .left header{
    margin-top:20px;
  }
  .page-room .middle article{
    margin-bottom:0;
  }
  .page-room section header{
    margin-left:20px;
  }
    .left{
    flex:1 1 100%;
    padding-right: 0;
  }
  .right{
    flex: 1 1 100%;
    padding-left: 0;
  }

}

.action-button{
  background-color: $primaryGray;
  color: white;
  text-transform: uppercase;
  border: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-weight: bold;
  cursor: pointer;
  flex: 0 0 auto;
}

.action-button:hover{
  background-color: $secundaryGray;
}

.action-button span{
  margin-left: 7px;
}

.action-input{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #6b7a8f;
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
}

.action-flex{
  display: flex;
  margin:10px 0;
}

.last-item{
  margin-bottom: 0;
}
