<div class="bg-wrapper">
    <section class="page-room" [class.blur]="voteKickScreenVisible||voteNextScreenVisible">
        <section class="left">
            <header>{{jukeboxName}}</header>
            <article>
                <tracks></tracks>
            </article>
            <header>Add tracks</header>
            <article>
                <addtracks></addtracks>
            </article>
        </section>
        <section class="middle">
            <header>{{trackTitle}}</header>
            <article>
                <youtube></youtube>
                <div class="comment-section" id="chatSection">
                    <div class="comment-user animated" *ngFor="let message of messages" [class.fadeInRight]="message.userName == user" [class.fadeInLeft]="message.userName != user">
                        <div [class.own-message]="message.userName == user">
                            <span [class.own-message]="message.userName == user">{{message.content}}</span>
                        </div>
                    </div>
                </div>
                <div class="comment-section-message">
                    <form class="send-message" action="">
                        <input type="text" id="writtenMessage" name="writtenMessage" [(ngModel)]="writtenMessage" placeholder="Send a message to the users of this jukebox" autocomplete="off">
                        <button (click)="sendMessage()" class="btn-send-chat"><i class="fa fa-paper-plane" aria-hidden="true"></i> <span>Send</span></button>
                    </form>
                </div>
            </article>
        </section>
        <section class="right">
            <header>Users</header>
            <article>
                <div class="playlist-section">
                    <ul>
                        <li *ngFor="let user of users" class="animated fadeInRight"><span>{{user.userName}}</span></li>
                    </ul>
                </div>
            </article>
            <header>Actions</header>
            <article>
                <actions></actions>
            </article>
        </section>
    </section>
</div>
<div class="voteScreen" [class.hidden]="!voteKickScreenVisible">
    <div>
        <p>{{voteInitiator}} wants to kick<br/>{{trackToKickTitle}}</p>
        <div class="loader"><div class="loader-inner"></div></div>
        <button (click)="voteKick()" [disabled]="voted">Kick track</button>
        <button (click)="declineKick()" [disabled]="voted">Keep track</button>
        <span>{{voteMessage}}</span>
    </div>
</div>
<div class="voteScreen" [class.hidden]="!voteNextScreenVisible">
    <div>
        <p>{{voteInitiator}} wants to skip<br/>{{trackToKickTitle}}</p>
        <div class="loader"><div class="loader-inner"></div></div>
        <button (click)="voteNextTrack()" [disabled]="voted">Skip current track</button>
        <button (click)="declineNextTrack()" [disabled]="voted">Don't skip current track</button>
        <span>{{voteMessage}}</span>
    </div>
</div>
