<div class="auto-resizable-iframe">
    <div>
        <!--<iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/s01vdtJu_ro"></iframe>-->
        <youtube-player
                [videoId]="id"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
        >
        </youtube-player>
    </div>
</div>