<label class="label-register" for="jukebox-name">Pick a jukebox name</label>
<input class="input-register" [(ngModel)]="jukeboxName" type="text" placeholder="Stephen's playground" id="jukebox-name">
<label class="label-register" for="display-name2">Pick a display name</label>
<input class="input-register" [(ngModel)]="newRoomDisplayName" type="text" placeholder="John Doe" id="display-name2">

<button class="button-register" (click)="createBox()">Create jukebox</button>