@import '../../_constants';

.stats{
  padding:5px;
  box-sizing: border-box;
}

.stat-table{
  margin:0 auto;
  border:0;
}
.stat-table{
  a{
    color:$secundaryGray;
  }

 tr{

   th:first-child{
     border-top-left-radius: 3px;
   }

    td,th{
      padding:20px;
      @include box-sizing(border-box);
      font-weight: normal;
    }


    th{
      background: $secundaryGray;
      color:white;
      font-weight: bold;
      border-right: 1px solid $primaryGray;

    }
    td{
      background: $lightGrayHighlight;
      border-bottom: 1px solid $primaryGray;
      border-right: 1px solid $primaryGray;
      transition: 0.3s;

    }
   td:last-child{
     border-right:0;
   }
    th:last-child{
      border-top-right-radius: 3px;
      border-right: 0;
    }

 }

  tr:nth-child(odd) td{
    background: $lightGrayHighlight;

  }

  tr:nth-child(even) td{
    background: $lightGray;
  }

  tr:last-child td{
    border-bottom: 0;
  }

  tr:hover{
    td{
      background: white;
    }
  }

}

.recordbox {
  font-family: $headingFont;
  font-size: 72px;
  color: $primaryGray;
  text-align: center;
  margin: 20px 0;
}

.recordbox span {
  color: $secundaryGray;
}

.title{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0;
  color:$primaryGray;
}

@media only screen and (max-width: 570px) {
  .stat-table{
    tr{
      td,th{
        padding: 10px;
        font-size: 90%;
      }
    }
  }

}