<section class="stats">
    <h1 class="recordbox animated fadeInDown">Record<span>Box</span></h1>
    <h2 class="title">Most upvoted tracks</h2>
        <table class="stat-table">
            <tr>
                <th>Title</th>
                <th>Upvotes</th>
                <th>First added on RecordBox</th>
            </tr>
            <tr *ngFor="let track of mostUpvotedTracks">
                <td><a href="http://www.youtube.com/watch?v={{track.youtubeId}}" target="_blank">{{track.title}}</a></td>
                <td>{{track.voteCount}}</td>
                <td>{{track.createdOn | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
    <h2 class="title">Most played tracks</h2>
        <table class="stat-table">
            <tr>
                <th>Title</th>
                <th>Play count</th>
                <th>First added on RecordBox</th>
            </tr>
            <tr *ngFor="let track of mostPlayedTracks">
                <td><a href="http://www.youtube.com/watch?v={{track.youtubeId}}" target="_blank">{{track.title}}</a></td>
                <td>{{track.playCount}}</td>
                <td>{{track.createdOn | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
</section>