<div class="playlist-section">
    <button type="button" class="action-button full-width" (click)="voteNextTrack()"><i class="fa fa-step-forward"></i> <span>Vote next track</span></button>
    <button (click)="statsPage()" type="button" class="action-button full-width"><i class="fa fa-line-chart"></i> <span>View statistics</span></button>
    <button (click)="download()" class="action-button full-width"><i class="fa fa-download" aria-hidden="true"></i> <span>Download playlist</span></button>
    <button type="button" class="action-button full-width btn-sign-out" (click)="disconnect()"><i class="fa fa-sign-out"></i> <span>Leave jukebox</span></button>
</div>