<section class="page-home">
    <h1 class="animated fadeInDown">Record<span>Box</span></h1>
    <section class="page-home-register animated fadeIn">
        <label class="label-register" for="display-name">Pick a display name</label>
        <input class="input-register" [(ngModel)]="displayName" type="text" placeholder="John Doe" id="display-name">
        <button class="button-register" (click)="joinJukebox()">Join jukebox</button>
    </section>
</section>