<label class="label-register" for="display-name">Pick a display name</label>
<input class="input-register" [(ngModel)]="displayName" type="text" placeholder="John Doe" id="display-name">
<button class="button-register btn-browse-rooms" (click)="isRoomlistHidden = !isRoomlistHidden">Browse jukeboxes</button>

<roomlist [class.hidden]="isRoomlistHidden"></roomlist>