@import '../../constants';

input {
  border: 1px solid $lightGrayHighlight;
  color: $darkGray;
}

roomlist {
  display: block; // anders werkt opacity niet
  @include transition(visibility 0s, opacity 0.25s ease);
}

.hidden{
  visibility: hidden;
  opacity: 0;
}