$headingFont: 'Josefin Slab', serif;
$paragraphFont: 'Montserrat', sans-serif;

$white: #FFFFFF;
$black: #000000;

$primaryGray: #6b7a8f;
$secundaryGray: #56657b;

$darkGray: #686868;
$lightGray: #F6F6F6;
$lightGrayHighlight: #E4E6E8;

$darkRed: darkred;
$darkGreen: darkgreen;

@mixin box-sizing($prop) {
  -webkit-box-sizing: $prop;
  -moz-box-sizing: $prop;
  box-sizing: $prop;
}

@mixin transition($prop...){
  -webkit-transition: $prop;
  -moz-transition:$prop;
  -ms-transition: $prop;
  -o-transition:$prop;
  transition:$prop;
}

@mixin filter($prop) {
  -webkit-filter: $prop;
  -moz-filter: $prop;
  -o-filter: $prop;
  -ms-filter: $prop;
  filter: $prop;
}