@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat');
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '_constants.scss';

body {
    font-family: $paragraphFont;
    background-color: $lightGray;
}

div.loader {
    display: block;
    border-radius: 100px;
    -webkit-box-shadow:inset 0px 0px 0px 20px $primaryGray;
    -moz-box-shadow:inset 0px 0px 0px 20px $primaryGray;
    box-shadow:inset 0px 0px 0px 20px $primaryGray;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;

    @keyframes rotation {
        from { -webkit-transform: rotate(45deg); transform: rotate(45deg); } // initiele positie bovenaan
        to { -webkit-transform: rotate(405deg); transform: rotate(405deg); }
    }

    & div.loader-inner {
        display: block;
        border-radius: 50px 0 0 0;
        border-top: 20px solid $secundaryGray;
        border-left: 20px solid $secundaryGray;
        @include box-sizing(border-box);
        width: 50px;
        height: 50px;
        transform-origin: 50px 50px;
        -webkit-animation: rotation 0.5s linear infinite;
        -moz-animation: rotation 0.5s linear infinite;
        animation: rotation 0.5s linear infinite;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
    }
}

.full-size,main {
    min-height: 100%;
    background-color: $secundaryGray;
}