<div class="playlist-section">
    <p [hidden]="tracks && tracks.length!=0">There are no tracks in this jukebox.</p>
    <ul>
        <li *ngFor="let track of tracks">
            <span [class.now-playing]="track.youtubeId == songIdPlaying">{{track.title}}</span>
            <span class="track-actions">
                <i class="fa fa-thumbs-up" (click)="upVoteTrack(track._id, track.title)" aria-hidden="true"></i>
                <i class="fa fa-ban" (click)="voteKickTrack(track._id)" aria-hidden="true"></i>
            </span>
        </li>
    </ul>
</div>
