@import '../../_constants';


.now-playing{
  margin-left:7px;
  font-style: italic;
  transition: 0.5s margin-left,0.5s font-style,0.5s color;
  color: $secundaryGray;
}

.track-actions{
  flex: 0 0 auto;
  margin-left: 5px;
  align-self: center;
}

.track-actions i{
  cursor: pointer;
  transition: 0.3s;
}

.track-actions .fa-thumbs-up:hover{
  color:$secundaryGray;
}

.track-actions .fa-ban:hover{
  color:red;
}